{% extends 'base.html' %}
{% block content %}
<div class="flex flex-row justify-evenly items-center">
    <div class="flex flex-col items-center gap-2">
        <h2>Inscrivez-vous maintenant</h2>
        <a class="btn-blue" href="{% url 'signup' %}">S'inscrire</a>
    </div>
    <div class="flex flex-col items-center">
        <h2 class="m-6">Connectez-vous</h2>

        <form method="post" class="flex flex-col items-center gap-2">
            {% csrf_token %}
            <div>{{ form.username }}</div>
            <div>{{ form.password }}</div>
            <p>{{ message }}</p>
            <button type="submit" class="btn-blue">
                Se connecter
            </button>
        </form>
    </div>
</div>
{% endblock content %}