{% extends 'base.html' %} {% block content %}
<div class="flex flex-col items-center mb-6">
    <h2>Créer une critique</h2>

    <form
        method="post"
        enctype="multipart/form-data"
        class="flex flex-col items-center gap-2 w-9/12 mt-4"
    >
        {% csrf_token %}
        <!-- cree un span qui serre de divider -->
        <span class="w-full border-b border-gray-500"></span>

        <h2 class="self-center">Livre / Article</h2>

        <!-- Input: for title of ticket -->
        <label for="titre" class="self-start">Titre</label>
        <input
            class="w-full px-4 mb-2 border border-slate-600 rounded-lg font-medium"
            id="titre"
            name="title"
            type="text"
        />

        <!-- Input: for description of ticket -->
        <label for="description" class="self-start">Description</label>
        <textarea
            class="w-full px-4 mb-2 border border-slate-600 rounded-lg font-medium"
            id="description"
            name="description"
            type="text"
            rows="6"
        ></textarea>

        <!-- input file: for image of ticket -->
        <label for="image" class="self-start">Image</label>
        <input
            id="image"
            accept="image/png, image/jpeg"
            name="image"
            type="file"
            hidden
        />
        <label
            for="image"
            class="self-start rounded cursor-pointer border border-slate-600 font-medium px-2 py-1 hover:bg-slate-200"
            >Télécharger fichier</label
        >
        <!-- name of file chosen -->
        <span id="file-chosen" class="self-start">Aucun fichier choisi</span>

        <!-- cree un span qui serre de divider -->
        <span class="w-full border-b border-gray-500"></span>

        <h2 class="self-center">Critique</h2>

        <!-- Input: for headline of review -->
        <label for="headline" class="self-start">Titre</label>
        <input
            class="w-full px-4 mb-2 border border-slate-600 rounded-lg font-medium"
            id="headline"
            name="headline"
            type="text"
        />
        <!-- Input: for rating review -->
        <label for="rating" class="self-start">Note</label>
        <div class="flex flex-row gap-8 rate">
            <span>
                <input
                    class=""
                    id="rating0"
                    name="rating"
                    type="radio"
                    value="0"
                />
                <label for="rating0">- 0</label>
            </span>
            <span>
                <input
                    class=""
                    id="rating1"
                    name="rating"
                    type="radio"
                    value="1"
                />
                <label for="rating1">- 1</label>
            </span>
            <span>
                <input
                    class=""
                    id="rating2"
                    name="rating"
                    type="radio"
                    value="2"
                />
                <label for="rating2">- 2</label>
            </span>
            <span>
                <input
                    class=""
                    id="rating3"
                    name="rating"
                    type="radio"
                    value="3"
                />
                <label for="rating3">- 3</label>
            </span>
            <span>
                <input
                    class=""
                    id="rating4"
                    name="rating"
                    type="radio"
                    value="4"
                />
                <label for="rating4">- 4</label></span
            >
            <span>
                <input
                    class=""
                    id="rating5"
                    name="rating"
                    type="radio"
                    value="5"
                />
                <label for="rating5">- 5</label>
            </span>
        </div>
        <!-- Input: for body of review -->
        <label for="body" class="self-start">Description</label>
        <textarea
            class="w-full px-4 mb-2 border border-slate-600 rounded-lg font-medium"
            id="body"
            name="body"
            type="text"
            rows="6"
        ></textarea>
        <!-- button: for send form -->
        <div class="self-end mt-4">
            <button type="submit" class="btn-green">envoyer</button>
        </div>
    </form>
</div>
<script>
    // get input file
    const fileInput = document.getElementById("image");
    // get span for name of file chosen
    const fileChosen = document.getElementById("file-chosen");
    // add event listener for change input file
    fileInput.addEventListener("change", function () {
        // change name of file chosen
        fileChosen.textContent = this.files[0].name;
    });
</script>
{% endblock content %}
