{% extends 'base.html' %} {% block content %} {% load i18n %}
<style>
    .rating {
        font-size: 24px; /* Taille de la police pour les étoiles */
    }

    .star {
        color: gold; /* Couleur des étoiles remplies */
    }
</style>
<div class="flex flex-col items-center mb-6 gap-3">
    <h2 class="m-6">{{message}}</h2>
    <!-- Display the user's tickets -->
    {% for ticket in tickets %}
    <div
        class="flex flex-col w-[35rem] overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800"
    >
        <img
            class="object-cover w-full h-64"
            src="{{ ticket.image.url }}"
            alt="Article"
        />

        <div class="p-6">
            <div>
                <span
                    class="text-xs font-bold text-blue-600 uppercase dark:text-blue-400"
                    >Ticket</span
                >
                <a
                    href="#"
                    class="block mt-2 text-xl font-bold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline"
                    tabindex="0"
                    role="link"
                >
                    {{ ticket.title }}
                </a>
                <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                    {{ ticket.description }}
                </p>
            </div>
        </div>

        <div class="m-2 self-end">
            <button
                class="btn-info text-sm"
            >Modifier</button>
            <button
                class="btn-error text-sm"
            >Supprimer</button>
        </div>
    </div>
    {% endfor %}

    <!-- Display the user's reviews -->
    {% for review in reviews %}
    <div class="card">
        <h2 class="self-start">Vous avez publié une critique</h2>
        <h3 class="self-end text-sm mr-4">{{ review.time_created }}</h3>
        <div class="rating self-start">
            <span class="text-base">{{ review.headline }} -</span>
            {% for i in review.rating %}
            <span class="star">&#9733;</span>
            {% endfor %} {% for i in review.rating_empty %}
            <span class="">&#9734;</span>
            {% endfor %}
        </div>
        <p class="self-start text-xs">{{ review.body }}</p>
        <div class="flex flex-col ml-4 pt-3 pb-3 w-full">
            <h2 class="self-start">
                Ticket - {% if review.id_ticket.id_user == user %}Vous{% else%}{{ review.id_ticket.id_user }}{% endif %}
            </h2>
            <h3 class="self-end text-sm mr-4">
                {{ review.id_ticket.time_created }}
            </h3>
            <h2 class="self-start">
                {{review.id_ticket.title}} - {{review.id_ticket.description}}
            </h2>
            <img
                class="self-start max-w-[15rem] ml-3"
                src="{{ review.id_ticket.image.url }}"
                alt="{{ review.id_ticket.title }}"
            />
        </div>
        <div class="self-end flex justify-evenly w-[15rem] gap-2">
            <button class="btn-info">Modifier</button>
            <button class="btn-error">Supprimer</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
